<div class="card1">
  <div class="row">
    <h3 class="about-title font-title">About me</h3>
  </div>
  <div class="row">
    <h6 class="about-position font-subtitle dev" >Junior developer</h6>
  </div>
  <div class="row">
    <p class="about-desc font-text">Highly motivated and ambitious person with passion for programming. Working in family business for 10+ years helped me at being organized, responsible and hardworking. Graduated on Faculty of organizational sciences, information systems and technologies department, eager for new knowledge and expirence.</p>
  </div>
  <div class="row" style="border-bottom: 1px solid #ffa500; padding-bottom:0px;">
    <h6 class="about-title font-subtitle" style="margin-bottom: 0%;">Skills</h6>
  </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-3 font-text" align="center" >
        <h6 style="color: white;">Frontend</h6>
        <ul class="demo">
          <li>
            HTML
          </li>
          <li>
            Css/Sas/Scss
          </li>
          <li>
            JavaScript
          </li>
          <li>
            TypeScript
          </li>
          <li>
            JQuery
          </li>
          <li>
            Ajax
          </li>
        </ul>
      </div>
      <div class="col-md-3 font-text" align="center">
        <h6 style="color: white;">Backend</h6>
        <ul class="demo">
          <li>
            Java
          </li>
          <li>
            PHP
          </li>
          <li>
            Firebase
          </li>
          <li>
            SQL
          </li>
        </ul>
      </div>
      <div class="col-md-3 font-text" align="center">
        <h6 style="color: white;">Freamworks</h6>
        <ul class="demo">
          <li>
            Angular
          </li>
          <li>
            Symfony
          </li>
          <li>
            Ionic
          </li>
        </ul>
      </div>
      <div class="col-md-3 font-text" align="center">
        <h6 style="color: white;">Other</h6>
        <ul class="demo">
          <li>
            Git(GitHub)
          </li>
          <li>
            REST API
          </li>
          <li>
            Photoshop
          </li>
        </ul>
      </div>


    </div>
</div>
